[2018-02-22 16:54] DJay-X opened #1 "[enhancement] Release notes would be great"
First, thanks a lot for your work and the time you are investing. And of course for sharing it with the community.
Some [Release notes](https://github.com/lukasroegner/homebridge-nello/releases) would be great and maybe some trusting words in the description because of the delicate fact thats it's about a door look. ;)
Thanks again and I very appreciate your commitment.

Viele Grüße

[2018-02-22 19:10] MeinMilchKaffee opened #2 "It doesn't open the Door"
Plugin seems to work except it doesn't open the buzzer/door.

`
[2018-2-22 19:08:18] [nello.io] Configuring accessory with location ID 673d50b7-681a-40b3-b9f3-6216fbeda983.
Setup Payload:
X-HM://0023ISZ053HB4
[2018-2-22 19:08:19] [nello.io] Cached accessories loaded.
[2018-2-22 19:08:19] [nello.io] Signing in.
[2018-2-22 19:08:20] [nello.io] Signed in successfully.
[2018-2-22 19:09:54] [nello.io]

[2018-02-22 22:04] DJay-X commented on #2
Same here

[2018-02-23 07:48] lukasroegner commented on #2
Sorry for the inconvenience, seems that I have forgotten the "swipe" parameter for opening the door. I added that in the latest version, feel free to update via npm and try again. I'll get my nello.io hardware today and test it throughout the day.

[2018-02-23 15:42] llfjahn commented on #2
Now it’s working.
Danke!

[2018-02-23 16:50] lukasroegner commented on #1
Hi @DJay-X, today I created the first release with some basic information. Moreover, the readme now contains additional information about the implementation and some words regarding security. If you have anything that you want me to add, feel free to write me.

[2018-02-24 12:54] DJay-X commented on #1
Thanks a lot @lukasroegner
I‘m sure people can feel now even more confident.
If you are not already in the forum [homekit.community](http://homekit.community) maybe you want to join. You are very welcome.
Thanks again.
Daniel

[2018-02-24 12:56] #1 closed

[2018-03-05 07:42] MeinMilchKaffee opened #3 "Lock jumps back to "default Room""
If I restart my Homebridge server the Lock always jumps back to "default Room".

[2018-03-05 16:58] lukasroegner commented on #3
Hi! Do you have the latest version of homebridge installed? You can check that by checking the output of homebridge, the nello.io plugin should print out the following lines:

[code]

If you already added a lock to homebridge earlier, the following lines should appear:

[code]

Afterwards, the plugin signs in:

[code]

Do you have any further output from the plugin?

[2018-03-24 21:28] #3 closed

[2018-03-26 17:51] krmkrx opened #4 "Homebridge crashing due to activity/location update introduced with 0.1.6."
Hey there. My homebridge keeps crashing after updating to the most recent version of your plugin. I think the culprit is the newly introduced polling features for activity/location. Here is the log:

However, after editing my config to disable the new functions:

homebridge and homebridge-nello work as expected. Any clue on why this is happening? Running homebridge with npm@5.8.0 and node@9.6.1.

[2018-03-27 06:42] lukasroegner commented on #4
I'm sorry that the new version does not work properly for you. I enhanced the error handling for getting the activities. Could you update to version 0.1.7 and enable the `activityUpdateInterval` again? You will get detailed information on what is wrong with the activities. With this output I hope I can fix the issue.

Another thing I can think of is: does the account that you created for the plugi

[2018-03-27 17:46] krmkrx commented on #4
I updated to 0.1.7 and everything is working as expected now:

Kind of unfortunate now, as I am unable to reproduce yesterdays error for you. The account used by the plugin always had administrator access. I will reopen this issue should the problem appear again. Thank you.

[2018-03-28 16:39] krmkrx commented on #4
Hello, I am reopening. Today I got the following error:

This all happened during me being away from home today. This error occured, too:

Config uses your default values.

[2018-03-28 16:41] krmkrx commented on #4
Hello, I am reopening. Today I got the following error:

Config uses your default values.

[2018-03-29 17:39] lukasroegner commented on #4
As you can see in the output, the nello.io server replies with "Too Many Requests". I'm currently experimenting with reasonable values for polling the service, however, it seems that we have to wait for the official public API to get the events from nello.io.

At the moment, I suggest to explicitly disable the polling mechanism:

[code]

[2018-04-19 14:57] flxmllr opened #5 "Public API now available"
Time for a full featured rewrite?

https://nellopublicapi.docs.apiary.io/

Cheers,
Felix

[2018-04-20 01:37] lukasroegner commented on #5
Hi Felix,
Finally! Thank you for your notification, I was checking the nello.io website every two days for the announcement. Expect a new version within the next week!

[2018-04-27 23:11] AlexanderBabel commented on #5
Any updates?

[2018-04-28 11:40] lukasroegner commented on #4
Public API now available. Please update the homebridge plugin. New features for doorbell service will be added soon.

[2018-04-28 11:40] #4 closed

[2018-04-28 11:40] lukasroegner commented on #5
Plugin now uses the Public API. Please update the homebridge plugin.

[2018-04-28 11:40] #5 closed

[2018-05-23 11:41] CooperCGN opened #7 "Crashing homebridge after removing config"
I have two homebridge instances running, now I wanted to move the nello config from one instance to the other, since then the "old" instance keeps crashing on start up. If I uninstall the plugin it works again, whats weird is that the nello lock after the uninstall doesn't disappear from the Apple home app, instead it gives me a constant spinning wheel.

Mai 23 13:25:37 raspberrypi homebridge[1688

[2018-05-29 10:48] lukasroegner commented on #7
Concerning the crash of your old instance: do you have the latest homebridge version installed? The accessories are cached by homebridge, you might have to clear the cache in order to remove the nello lock from your old instance.

Please let me know if this works for you!

[2018-05-29 12:58] CooperCGN commented on #7
Yes, I’m running the latest version. What cache? The persist directory? I just know deleting one of the two drirecrories (accessories/persist) will basically kill the whole setup.

[2018-05-30 19:22] lukasroegner commented on #7
Yes, I mean the accessories cache. You can take a look at the cached accessories in the folder and delete the nello lock manually. Another solution would be to install the nello plugin again and provide credentials from a user that has no locks in the account.

I'm really sorry that there is no better solution!

[2018-06-01 06:24] CooperCGN commented on #7
Is this a "problem" with the current version of homebridge? I remember deleting things from my config.json and the corresponding accessories just disappeared from my HomeKit configuration.

Anyway I got it removed by editing that cachedAccessories.json file. I will try reconfiguring it later.

[2018-06-02 13:41] us09alex opened #8 "Video Doorbell service"
Hey there,

do you have any new information about the upcoming video doorbell service?

Greetings
Alex

[2018-06-03 14:04] lukasroegner commented on #8
Hi Alex,

I just moved to another flat, as soon as I installed my nello there, I'll start playing around with the video doorbell service.

Best regards
Lukas

[2018-06-03 14:11] lukasroegner commented on #7
There is a difference between the "old" way of implementing accessories in homebridge and the way of dynamic platform/accessories. I used the official example plugin to start development, which dynamically adds accessories to HomeKit.

With some plugins, you have to define the accessories that should appear in HomeKit within the config.json. Thus, if you remove those plugins and the configuration,

[2018-06-04 05:46] CooperCGN commented on #7
Uh, I am actually a user only, no coder :)
But from what I can see there seems to be a problem with the plugin not checking whether it actually is configured in the config.json and then it is producing that error. I have one homebridge running as service with only the Philips hue plugin configured in a separate config.json and another instance for the other plugins and for testing purposes. Now wh

[2018-06-10 15:02] DJay-X commented on #8
Hi Guys, thanks for your great work and ongoing development.
But unfortunately at the moment I don't get it. What about the doorbell and especially the videoDoorbell service? https://github.com/us09alex/homebridge-nello

At the moment I'm on v0.2.0 which is the latest release and it works very well.

But I have my nello one connected to a Siedle HTS-711-01. This device has a video screen.
How can

[2018-06-10 15:07] AlexanderBabel commented on #8
Hey DJay-X,

currently Nello don't support video doorbells. Therefore it is not possible to implement a real video doorbell in this plugin. Instead I implemented a fake camera accessory to have the ability to open the front door directly from the notification.

Greetings
Alex

[2018-06-11 11:31] lukasroegner commented on #7
I had a deeper look at your error message. The nello plugin does not get any configuration from homebridge, which is why the error message reads `TypeError: Cannot set property 'clientId' of null`. Are you sure that there is no typo in your config.json? It is important to have this minimum configuration:

[code]

[2018-06-11 15:27] CooperCGN commented on #7
Weird, other plugins I have installed just get skipped or skip the initializing process by themselves (not sure if this is something that has to be coded into the plugin) if there’s no configuration.

As I explained to you before one of my homebridge services is only running the Homebridge-hue plugin from a separate folder with a completely seperate config.json in it. I don’t want any other plugin

[2018-06-12 06:24] lukasroegner commented on #7
Please try the latest version on the master branch, if no configuration is provided, the plugin will no longer be initialized.

[2018-06-13 09:59] CooperCGN commented on #7
bare with me please, but how do I do this. When using the regular install command I think I still get the old version.

[2018-06-14 10:40] lukasroegner commented on #7
I published a new version of the plugin, you can now use npm to get the latest version.

[2018-06-14 10:56] AlexanderBabel commented on #8
Hey DJay-X,

I updated my fork and added support for external rtsp streams. So if your manufacture provides support for this type of internet streaming you can add the stream to the camera.

Greetings
Alex

[2018-06-14 11:59] DJay-X commented on #8
@us09alex Good to have the possibility. Thanks for your work.
Are you guys (@lukasroegner @us09alex ) working together? I think you both can easily use the synergy. I'm just wondering because the this version of the plugin is on v0.2.1 without any of the known features of videoDoorbell etc. Or are you both going separate ways?
But remember.. it's always better together. ;)

Thanks anyways.

[2018-06-14 12:02] AlexanderBabel commented on #8
Hey,

yes we are working together from now on.

It is currently not included because I thinks its better that @lukasroegner checks the code before the release. (four eyes principle)

Greetings
Alex

[2018-06-15 11:46] #7 closed

[2018-06-15 12:09] #8 closed

[2018-06-15 23:02] DJay-X opened #10 "ERROR LOADING PLUGIN homebridge-nello: Error: Cannot find module './functions/connectWebhook'"
Hi Guys,

thanks for the update to v0.3.0.
I updated like always with `sudo npm install -g homebridge-homebridge-nello` but now get the error below.
I didn't change the config.json for now to keep it simple and only use the previous basics.

Am I doing something wrong or missing something?

Thanks in advance.

[code]

[code]

[2018-06-15 23:12] AlexanderBabel commented on #10
Fixed in v0.3.1

[2018-06-15 23:13] #10 closed

[2018-06-16 09:33] DJay-X opened #11 "[Haustür] An error occurs while making stream request | An error occurs while making snapshot request"
Thanks for updating v.0.3.1. Plugin starts without a problem now.
I already installed homebridge-camera-ffmpeg v0.1.8 and added the lines to the config.json
Unfortunately I got an error in the log. Homebridge still running but not placeholder Picture in the camera.

Thanks again.

[code]

[code]

[2018-06-16 09:42] AlexanderBabel commented on #11
I forgot to add the "-i" option to the snapshotImage in the readme file. ffmpeg requires that.

Also in order the fix the other message remove "<your-url>" from the stream parameter

Greetings
Alex

[2018-06-16 09:43] AlexanderBabel commented on #11
So I will do a update for the issue with the snaptshotImage

[2018-06-16 09:47] #11 closed

[2018-06-16 09:49] AlexanderBabel commented on #11
Update is out now. Just try it.

[2018-06-16 10:58] DJay-X commented on #11
Sorry. I didn't get this.
I changed it to
[code]
Don't know in what to change the stream parameter. Removing ""???
Can I remove the whole line because I don't have a stream. But removing the whole line crashed homebridge.

Changing `"snapshotImage": "-i http://via.placeholder.com/1280x720" ` still brings the error
[code]

If you could update the readme example configuration, I would appreciate to

[2018-06-16 11:02] AlexanderBabel commented on #11
Hey,

just update the plugin version to 0.3.2 and use the old version of your config.

Greetings
Alex

[2018-06-16 11:12] DJay-X commented on #11
Sorry Alex, I hope not to bother. But didn't work for me.
Obviously I cannot see the wood for the trees. ;)

[code]

[2018-06-16 11:19] AlexanderBabel commented on #11
Did you installed ffmpeg? I mean the binary not the Homebridge plugin. If not take a look here: https://github.com/KhaosT/homebridge-camera-ffmpeg/wiki

[2018-06-16 11:38] DJay-X commented on #11
Oh, sorry. Then I'm off now. Just installed `sudo npm install -g homebridge-camera-ffmpeg` @v0.1.8
I have no clue how to install and what the binary of ffmpeg is. The wiki wasn't DAU helpful to me. ;)
However I will probably dig deeper at the given time.
Updating to nello@0.3.x seemed bigger than I thought. ;)
Thanks anyways for your friendly help so far.

[2018-06-16 11:45] AlexanderBabel commented on #11
Alright. Another way to install is this:

[code]

Greetings
Alex

[2018-06-16 11:46] AlexanderBabel commented on #11
Also you don't need to install the homebridge-camera-ffmpeg plugin

[2018-06-16 12:14] DJay-X commented on #11
`sudo apt-get install ffmpeg`
This was the missing part. 👍🏻 Now snapshotImage works for me. No errors in the log.
Thanks a lot Alex.

Are you also on http://homekit.community ?
If not, looking forward to see you there. :)

[2018-06-16 23:47] krmkrx opened #12 "Crashing homebridge during initializing platform"
Hi there. I have used @AlexanderBabel fork without any issues previously.
However, after updating to 0.3.2. my homebridge crashes:

[code]

Config is as follows:

[code]

Any idea on what might be wrong?
Deleting accessories/persist folders did not help.

[2018-06-17 00:08] krmkrx commented on #12
Sorry @AlexanderBabel , need to reopen. Log outputs another issue now after updating to 0.3.3.:

[code]

[2018-06-17 10:57] AlexanderBabel commented on #12
Please try this one:
[code]

I updated the repo but did not published a new update. If it works I will publish it.

Greetings
Alex

[2018-06-17 11:45] krmkrx commented on #12
Hi Alex,

I can confirm that the above version is working. Thank you.

Best,
Karim

[2018-06-17 11:53] #12 closed

[2018-06-25 22:08] mgoeller opened #13 "Video Doorbell Profile not working"
After I couldn't get the newest version of the plugin running I completely started from scratch. E.g. set up a fresh Raspberry Pi with camera module with the newest Raspbian, installed NodeJS, HomeBridge and the nello plugin. My config.json file looks as follows:

`{
    "bridge": {
        "name": "DebugHB",
        "username": "CC:22:3D:E3:CE:12",
        "port": 51825,
        "pin": "123-34-45

[2018-06-26 06:32] carlsendk commented on #13
Do you have an extra camera setup to your intercom? (no reference to the problem just me who wanted to know your setup)

[2018-06-26 10:08] mgoeller commented on #13
Right now I am using the official Raspberry Pi camera to record the screen from my intercom (Rene Koch). Thats just a temporary solution until my EasyCap USB video grabber arrives (~10 $) to grab the analog video signal from the intercom directly.

[2018-06-27 12:17] AlexanderBabel commented on #13
Hey there,

I updated the repo and added better support for the raspberry pi camera module v2.1

I brought one of these and tried it out. In my case it is working pretty well.

Just take a look in the develop branch and give it a shot.

Source: https://github.com/lukasroegner/homebridge-nello/tree/develop
npm cmd:
[code]

[2018-06-27 12:18] AlexanderBabel commented on #13
Don't forget to adjust your config for the raspberry pi camera module. (https://github.com/lukasroegner/homebridge-nello/tree/develop)

[2018-06-28 13:44] mgoeller commented on #13
Thank you Alex. I uninstalled the hello package and installed your dev branch on two different Raspberry PIs with cameras and each a HomeBridge instance. The nello door lock accessory is available and working, if I manually want to add the camera neither with the code nor directly does it show up. Not sure if this worked before but someone ringing the bell is logged in the console of my homebridge

[2018-06-28 16:23] AlexanderBabel commented on #13
Hey there,

Your first question: A lock accessory can only be locked or unlocked nothing else.
Your second question: Nope HomeKit supports video doorbell accessories therefore the camera accessory you add to the Home App can you send a ring notification.
Your third question: you must set videoDoorbell and raspberrryPiCamera to true in order to see the accessory and add it to the Home App.

Heres m

[2018-07-05 13:24] mgoeller commented on #13
Thank you very much Alex, I completely started from 0 again and suddenly everything works. One main problem was to add the module bcm2835-v4l2 to /etc/modules. Somehow the "door bell rang" notifications are buggy; working now but didn't yesterday for example. Could this be a problem of your webhook relay service?

Also in your example configuration for the raspberry pi, "videoDoorbell: false" is s

[2018-07-05 19:15] mgoeller commented on #13
Using the Raspberry Pi Camera works now perfectly. I've set up another RaspberryPi with a second Homebridge instance and the homebridge-nello plugin. I somehow think the camera integration has errors, since using the "original" homebridge-camera-ffmpeg plugin works fine. I proceed as follows:

1. install homebridge and homebridge-nello
2. I manually start homebridge from the terminal as root using

[2018-07-05 22:11] jlngnr opened #14 "Keine "Es hat geklingelt" Meldung"
Sorry das ich in deutsch schreibe. Aber ich brauche eine Erklärung die ich nicht erst übersetzten muss und evtl dadurch etwas falsch verstehe.
Folgendes:
Ich habe das Plugin installiert und die Daten in die Config.json richtig eingetragen. Ich bekomme auch eine Schloss in Homekit angezeigt und die Push wenn ich das Schloss öffne und es wieder geschlossen wird.
Jedoch bekomme ich nicht die Meldung

[2018-07-07 16:17] AlexanderBabel commented on #13
Hey there,

I updated the plugin to version 0.3.5 and added the vcodec option. This will eventually fix your problem.

Anyway your config looks like you are using a camera module. Try to use the raspberryPiCamera option.

Greetings
Alex

[2018-07-07 16:18] AlexanderBabel commented on #14
Hey,

es wäre hilfreich, wenn du mal deine Config posten könntest. Am besten teste erstmal die neuste Version (v0.3.5) und wenn der Fehler weiterhin auftritt, melde dich nochmal.

Grüße
Alex

[2018-07-07 16:19] #14 closed

[2018-07-09 18:43] mgoeller commented on #13
Thank you for your effort Alex. However I think we are misunderstanding each other. I have two Raspberry Pi's. Number one is working now fine using the Raspberry Pi Camera module. Number two should use "-re -f video4linux2 -s 640x480 -i /dev/video0" as a video source for the stream. Using
this source with the official plugin from Khaos works fine.

The problem I constantly run into is that the Hom

[2018-07-11 09:28] mgoeller commented on #13
[This](https://i.imgur.com/jFLCvoJ.png) is what is shown when using the homebridge-camera-ffmpeg plugin. How can I help you to debug?

[2018-07-13 10:56] shapetheLOLa opened #16 "video doorbell problem"
Am I right that when I want to use to open the door with a notification I need to enable the video doorbell?

I don't have a video camera attached to the raspberry pi / door or whatever. I am just using this plugin. But I am not 100% sure I understood this correctly.

My config looks like this

`"platform" : "NelloPlatform",
            "name" : "nello.io",
            "username": "xxx@gmail.com

[2018-07-15 16:03] AlexanderBabel commented on #13
Hey there,

a quick update:

Currently Im not able to process this issue because I have many stuff to learn for my exams the next weeks. I hope I will have some time during this period but if not I'll be the at the end of the month and go through this issue.

[2018-07-15 16:04] AlexanderBabel commented on #16
Hey there,

Currently Im not able to process this issue because I have many stuff to learn for my exams the next weeks. I hope I will have some time during this period but if not I'll be the at the end of the month and go through this issue.

[2018-07-15 19:20] shapetheLOLa commented on #16
Take your time, it’s working perfectly without video and it’s a big help already :)

[2018-07-17 08:54] ermalguni opened #17 "Make client_id configurable"
Hi,

can you please make the **client_id** configurable. We want all the users using their own client_id so that the API rate limiter will not kick in. Furthermore, the client_id is associated with a specific user and all other password authentications will not work in the near future.

Thanks,
the nello team

[2018-07-18 05:43] lukasroegner commented on #17
Hi!

I can make the client_id configurable, so that every user has to use a different client_id. This means, we have to switch to the "Token / Create a new token - client credentials" flow that uses the client_id and the client_secret for authentication, am I right?

Best regards
Lukas

[2018-07-19 08:39] ermalguni commented on #17
Hi Lukas,

Actually, our current work will validate the username/password against the client_id. In that regard nothing will have to be changed.
You can still use the token grant type if you still wish for that.

To make the life of our users easier we are working on a UI that each user can log in to and request OAuth client credentials. This will be released some time next week.

[2018-07-19 17:41] DJay-X commented on #13
@AlexanderBabel Thanks Alexander. And fingers crossed for your exams. 🤞🏻 Very looking forward hearing from you here again.

[2018-07-20 07:50] lukasroegner commented on #17
I made the clientId configurable in the plugin in https://github.com/lukasroegner/homebridge-nello/commit/a706f11ff4bd0208660a33becd321feb90aacdcd, however, left my own clientId in the code until your UI is finished.

Please notify me when the UI is ready, so that I can change the README and inform users.

Best regards
Lukas

[2018-07-22 08:54] ermalguni commented on #17
Thanks for the commit. I will come back to you nexxt week.

[2018-07-24 12:55] AlexanderBabel commented on #13
Hey there,

I think I found the issue. Could it be possible you are trying to add the camera accessory for the same Nello one? If the answer is true, the issue is, that both camera accessories have the same name and you already added one of them. Therefore the other one won't be displayed during the setup process.

Greetings
Alex

[2018-07-24 12:56] AlexanderBabel commented on #16
Hey there,

you need to set raspberryPiCamera to false and use the default video config. Then it should work

Greetings
Alex

[2018-07-24 13:06] shapetheLOLa commented on #16
Thanks Alexander!
So video doorbell to true, and rest from default video config. And then I need to add the camera accessorie in the home app?

Regards

[2018-07-24 13:07] AlexanderBabel commented on #16
Yes this should work.

[2018-07-24 13:15] shapetheLOLa commented on #16
Thanks. Just added it remotely, I guess I cannot add the homekit device remotely. Will test that later at home, thanks again :)

[2018-07-25 11:39] CooperCGN opened #18 "question: local default camera image"
This might be a noob question because I am one, but can I set
"snapshotImage": "http://via.placeholder.com/1280x720"
to a local file on my Pi, somewhere in the home directory?

[2018-07-25 11:48] AlexanderBabel commented on #18
Hey there,

This is a url to a web resource.

Greetings
Alex

[2018-07-25 13:11] CooperCGN commented on #18
Sometimes the obvious is too far ;) I just point to my local web server.

[2018-07-25 13:14] mgoeller commented on #13
No, I dont think this is it since I tried adding the Accessory to a completely empty "House" in the Home App. If I can somehow help you to debug, let me know.

[2018-07-25 13:17] CooperCGN commented on #14
I have the same problem, I get the push message that someone has rung but there's no button showing up. Camera and lock are in the same room, camera shows the default image so I assume ffmpeg is installed correctly.

My config looks like this:

{
            "platform": "NelloPlatform",
            "name": "nello.io",
            "username": "XXXXXXXXXXX",
            "password": "XXXXXXXXXXX",

[2018-07-25 13:21] AlexanderBabel commented on #13
Then try to delete the accessory and persistent folder and try to add it again.

Do you have multiple Nello one?

[2018-07-25 13:22] mgoeller commented on #13
As written above I did this whenever I was readding the accessory. I have just one Nello one.

[2018-07-25 13:40] AlexanderBabel commented on #14
I think the problem is at the side of HomeKit because the rich notification will not work every time. I have from time to time this issue too.

[2018-07-25 13:41] #18 closed

[2018-07-25 13:48] AlexanderBabel commented on #13
Then I don't get it.

So from the beginning... You have two Raspberry Pi's. One with a camera module V2.1 and the Nello plugin installed and working. And another one with the Nello plugin installed too and you are trying to use it with the ffmpeg mode.

But you only have one Nello one. So that means that you are trying to use the same Nello one twice.

And if this is case it is not possible becaus

[2018-07-25 13:49] AlexanderBabel commented on #16
Great.

[2018-07-26 08:41] shapetheLOLa commented on #16
didnt have the time to try it yet. Will do later today and report back, sorry for the delay :)

[2018-07-26 10:26] jcarldk opened #19 "Feature: Sensor added"
When someone ring, its trigger a sensor item in HomeKit, so you can do automation based in this.

[2018-07-26 10:28] jcarldk opened #20 "Feature: Switch added"
HomeKit: Switch to enable "auto open" if it switched on and you can use it to make intervals for opening the door

[2018-07-26 10:38] AlexanderBabel commented on #20
Hey there,

during the upcoming weekend I will implement your request. But it not a promise that it will be finished at the end of the weekend.

Greetings
Alex

[2018-07-26 10:38] AlexanderBabel commented on #19
Hey there,

during the upcoming weekend I will implement your request. But it not a promise that it will be finished at the end of the weekend.

Greetings
Alex

[2018-07-26 11:32] carlsendk commented on #20
I don't know if it's the right way to implement it :-)

[2018-07-26 11:50] Martijndevriez commented on #19
this feature first plzz :).

btw your homebridge plugin is awesome

[2018-07-26 12:00] jcarldk commented on #13
Do you need to have a video stream to get the unlock in notification?

I'm a little confused by you manual around doorbell and video.

My use case I have video Siedle intercom. (I havn't figured out yet how to get the video stream, I hope door bird ip upgrade with video will fix this for me).

So even though I don't have video stream to put in, I want to have an unlock option in my notification.

[2018-07-27 08:02] jcarldk opened #21 "How to see unlock in notification"
Do you need to have a video stream to get the unlock in notification?

I'm a little confused by you manual around doorbell and video.

My use case I have video Siedle intercom. (I havn't figured out yet how to get the video stream, I hope door bird ip upgrade with video will fix this for me).

So even though I don't have video stream to put in, I want to have an unlock option in my notification.

[2018-07-27 12:00] shapetheLOLa commented on #16
Still not sure I'm doing something wrong. Im not able to add the video doorbell. It just keeps looking for it and does not find anything.

Any idea?

[2018-07-28 10:31] AlexanderBabel commented on #21
No you don't need to have a video stream. Just use the default config.

[2018-07-28 11:00] AlexanderBabel commented on #20
Hey there,

I updated the plugin and added the switch and a motion sensor. Feel free to try it:

[code]

Greetings
Alex

[2018-07-28 11:00] AlexanderBabel commented on #19
Hey there,

I updated the plugin and added the switch and a motion sensor. Feel free to try it:

[code]

Greetings
Alex

[2018-07-28 11:03] AlexanderBabel commented on #16
You should see the camera accessory, when you click on "Don't Have a Code of Can't Scan?" in the setup process. In the next menu you will see the camera.

[2018-07-28 11:13] shapetheLOLa commented on #16
I only get the option to manually enter a code or go to a bridged device. but no camera shows up :/

[2018-07-28 11:16] AlexanderBabel commented on #16
Okay, can you post your current config and log? I will investigate.

[2018-07-28 11:21] shapetheLOLa commented on #16
[code]

Log incoming in 5 minutes

[2018-07-28 11:33] shapetheLOLa commented on #16
Do you need Debug enabled ?

[2018-07-28 11:34] AlexanderBabel commented on #16
Debug is only for the raspberryPiCamera option

[2018-07-28 11:53] shapetheLOLa commented on #16
I meant the Homebridge debug log :)
[code]

[2018-07-28 13:24] AlexanderBabel commented on #16
Hey there,

I tried your configuration on a new Homebridge server and it worked perfectly. I have a video if you want to see it: https://youtu.be/hmapEawJ7Xs

I think there is an issue because you have some other camera plugins. Try to setup a Homebridge instance only with this plugin. Then it should work. Another way is to disable every plugin and enable only this one. Then try it and if it works

[2018-07-28 13:27] AlexanderBabel commented on #20
A documentation of the new config entries can be found here: https://github.com/lukasroegner/homebridge-nello/tree/develop

[2018-07-28 13:27] AlexanderBabel commented on #19
A documentation of the new config entries can be found here: https://github.com/lukasroegner/homebridge-nello/tree/develop

[2018-07-28 15:39] shapetheLOLa commented on #16
I have tried it again with a completely new home bridge installation and no other plugins on a new linux machine. It seems Im missing something, again I am not able to add the camera. Ive just installed homebridge, homebridge-nello, ffmpeg via apt-get install and thats it. Is there anything else I am missing? :D

[2018-07-29 10:33] AlexanderBabel commented on #16
Hey there,

just try to install the current beta version:
[code]

I think this version should work. If not, you can take a look at the updated configuration (https://github.com/lukasroegner/homebridge-nello/tree/develop) and use the motion sensor instead of the camera accessory.

Have a nice Sunday.

Greetings
Alex

[2018-07-29 10:33] AlexanderBabel commented on #16
Also please do a reset before trying to use the beta version.

[2018-07-29 10:48] shapetheLOLa commented on #16
Ive uninstalled homebridge-nello and installed the beta. Still nothing shows up, only the bridge itself and the nello lock :/

[2018-07-29 10:49] AlexanderBabel commented on #16
Okay, then I recommend you to use the motion sensor instead of the camera accessory. Just set "motionSensor" to true and you're good to go

[2018-07-29 11:39] shapetheLOLa commented on #16
Thanks, I was able to install the motion sensor. But it does not work. Once the notification in the home app came, but with a delay of about 45 seconds. And the other 3 times it did not work at all. Nellos own notifications were all on time :/

And am I right that with a motion sensor instead of a camera this means no notification actions are possible? :/

[2018-07-29 12:36] AlexanderBabel commented on #16
I think this is a Nello Public API issue, because I tested the plugin via calling the url of the relay service with a Nello like request and it worked 5/5 times.

The notifications can be enabled in the Details/Settings section of a motion sensor.

[2018-07-30 07:43] shapetheLOLa commented on #16
You were right. It was a public API Issue, 2 hours later it worked. Thanks again. I was just hoping to being able to open the door via the notification action :/ This is just possible with the camera, right?

[2018-07-30 07:47] AlexanderBabel commented on #16
Yes its only with the camera accessory possible to see an unlock button.

[2018-07-30 07:48] shapetheLOLa commented on #16
Alright. Thanks again Alexander!! I will try to get the camera to work either way but at least I have a notification for automation for now :-) I appreciate it

[2018-07-30 07:49] AlexanderBabel commented on #20
Available with v0.4.0

[2018-07-30 07:49] #20 closed

[2018-07-30 07:49] AlexanderBabel commented on #19
Available with v0.4.0

[2018-07-30 07:49] #19 closed

[2018-07-31 08:43] carlsendk commented on #21
So if I remove doorbell and videodoorbell I would be able to unlock from notification?

[2018-07-31 08:45] AlexanderBabel commented on #21
The current default configurations exposes a motion sensor only for ring notifications.

If you want an unlock button you need to use the default ffmpeg configuration. Also you need to install ffmpeg (apt-get install ffmpeg)

Greetings
Alex

[2018-07-31 08:46] carlsendk commented on #21
videoDoorbell (optional): If this value is set to true, a camera can be added to HomeKit (as extra accessory) and when someone rings at your door you will get a push notification with unlock button (The lock and the camera must be in the same room to see the **unlock button**). Default set to false.

[2018-08-01 07:12] carlsendk commented on #21
Thanks I will try this. As I said it not total clear in docs what you need to set to get the unlock button in notification.

And you need to add the camera to HomeKit?

I think my issue is I have added the camera but not the ffmpeg as I don't have a camera and only what the unlock button.

It would be nice if you made a better way to achieve this without having to install ffmpeg and add a camera.

[2018-08-01 07:25] carlsendk commented on #21
"lockTimeout": 8000,
            "locationUpdateInterval": 3600000,
			"exposeReachability": true,
            "motionSensor": true,
            "motionTimeout": 8000,
            "alwaysOpenSwitch": true,
            "videoDoorbell": true,
            "video": {
                "stream": "-re -i <your-url>",
                "snapshotImage": "http://via.placeholder.com/1280x720",
                "

[2018-08-01 15:58] AlexanderBabel commented on #21
You can use the motion sensor independent from the camera.

[2018-08-02 07:40] ermalguni commented on #17
Hi Lukas, the UI interface can be found at https://auth.nello.io/admin. Currently we are not supporting the __password__ in the UI as we had some shiftings in priorities. It is still an open issue on our side though which we will work in the very near future.

[2018-08-03 19:35] #16 closed

[2018-08-03 19:36] AlexanderBabel commented on #13
Do you still need help?

[2018-08-04 09:46] mgoeller commented on #13
Thank you, I forgot to look into it. I installed now the newest update, and used the doorbell as motion sensor. Then I just used a different camera plugin. As long as the motion sensor, door lock and camera are in the same room, a rich notification will be issued with Video and Unlock button. I would suggest you keep the nello plugin clean and advise people to do it like this? Instead of integrati

[2018-08-04 09:46] #13 closed

[2018-08-04 14:57] sebrot330 opened #23 "Implementation of a Switch Option for Beacon Automation"
Dear collaborators,

This Homebridge plugin for nello is really great!
The only thing missing from the nello-producers point of view is the option to use a beacon instead of having to ring and waking up everybody in the flat.
Therefore I thought of using the [RoomLocator](https://www.linkdesk.com/de/locator/) of LinkDesk and putting it somewhere in my mailbox which is close to the door.
The setup

[2018-08-05 09:50] AlexanderBabel commented on #23
I‘ll take a look at your feature request next weekend.

[2018-08-05 09:51] AlexanderBabel commented on #21
Is your issue still existing?

[2018-08-11 11:41] sebrot330 commented on #23
Great Thanks!

[2018-08-12 08:44] lukasroegner commented on #17
@ermalguni I added the link to the interface in the README. Already tried to update the API description, however, the page loads forever when submitting the form.

[2018-08-12 17:57] AlexanderBabel commented on #23
Unfortunately I had not enough time to look up your request. I'll do it during the coming week.

[2018-08-12 20:39] DJay-X commented on #17
@ermalguni @lukasroegner Thanks for your work guys. I already created successfully my Client Secret and Client Id on https://auth.nello.io/admin
The Readme and sample config.json was not clear for me. So I guess you guys are still working on this and will let us now when and how we should switch from username and password to clientId.
Thanks a lot in advance. 👍🏻

[2018-08-12 20:46] lukasroegner commented on #17
Thank you for your feedback! I updated the README: you have to add the Client ID to the configuration (property "clientId"), the secret is not needed at the moment.

[2018-08-12 21:18] DJay-X commented on #17
I removed  "username": and "password" from the config.json and replaced it with the "clientId": including my my clied ID. Restart Homebridge without any error but it didn't work.
Nello is not opening the door and also no notification in the nello app activity feed to see. Eve App did not show an error but status "unknown". It just didn't do anything. ;)

![img_1080](https://user-images.githubuserc

[2018-08-12 21:28] lukasroegner commented on #17
OK, the solution is quite easy: don't remove username and password from the configuration!

[2018-08-12 21:40] lukasroegner opened #24 "Dynamic nello information as camera stream"
Hi guys,

I finally managed to install my Nello again! I now also have the video doorbell configured, I use a static image of the Nello logo (as described in my updates of the README). Thank you @AlexanderBabel for working so hard on this feature, it's fantastic!

I came up with the idea of handling the static image and the video stream dynamically, so that the image/stream in the Home app shows n

[2018-08-12 21:42] DJay-X commented on #17
LOL.. oh, oookay. ☺️ So the cliendID is just additional to keep everything work in the future even with username and password?
Well with both added again, now including clientID in addition, everything works as before without the clientID. So guess it's okay then. 😅

![img_1081](https://user-images.githubusercontent.com/3874239/44006718-4b5ee1c6-9e89-11e8-8b6f-459b17467754.png)

[2018-08-12 21:57] lukasroegner commented on #17
We have to make a transition from a single clientId (which is currently hardcoded in the plugin) that I requested from the nello team some time ago when the UI for getting the client ID and secret did not exist, to individual client IDs for each user of the plugin. We haven't removed my client ID yet, so that all users have enough time to request an own client ID and put it in the configuration. W

[2018-08-13 11:19] sebrot330 commented on #23
No worries :) maybe its super fast to implement, im not sure

[2018-08-13 12:29] ermalguni commented on #17
@lukasroegner thanks for the changes.

Do you still have the problem with the loading icon? If so can you try to clear the browser cache? It is a cache related issue. We tried it internally and it works fine for us.

[2018-08-14 10:37] lukasroegner commented on #17
@ermalguni The problem still exists, I cleared the browser cache. The error is an HTTP 500 Internal Server Error of the POST to https://auth.nello.io/client/

[2018-08-14 10:53] ermalguni commented on #17
@lukasroegner thanks for the reply. It seems that the issue is related to your account. Let's keep it out of this conversation. Please write to us and we will take it from there.

[2018-08-16 18:33] ghost commented on #21
I need to test it if it works. i have been away on vacation.

[2018-08-20 21:10] sebrot330 commented on #23
Hi @AlexanderBabel I just wanted to let you know that I stumbled across this [homebridge-plugin](https://github.com/shexbeer/homebridge-nelloio) which does the job for me. So if you want you can close this issue.
Best regards and thanks for your help,
Sebastian

[2018-08-21 20:53] AlexanderBabel commented on #23
Alright. I'm sorry that I haven't found the time to implement the feature. But this is also a solution.

So I close this issue.

[2018-08-21 20:53] #23 closed

[2018-08-21 20:54] AlexanderBabel commented on #21
Hey there,

had you found the time to test your setup?

Greetings
Alex

[2018-08-22 14:29] carlsendk commented on #21
I think i need a dummysteam for it to work the default url is not working

[2018-08-22 14:50] carlsendk commented on #21
[8/22/2018, 2:49:07 PM] [nello.io] Start streaming video from undefined with 1280x720@299kBit
[8/22/2018, 2:49:07 PM] [nello.io] An error occurs while making stream request
[8/22/2018, 2:49:17 PM] [nello.io] Snapshot from undefined at 480x270
[8/22/2018, 2:49:17 PM] [nello.io] An error occurs while making snapshot request
[8/22/2018, 2:49:21 PM] [nello.io] Start streaming video from undefined with

[2018-08-22 15:15] lukasroegner commented on #21
@jcarldk have you tried to use a static image from the file system (as described in the troubleshooting section)? You can use any image on the file system, just provide an absolute path instead of the URL

[2018-08-22 16:40] carlsendk commented on #21
Yes. But a not sure it's the correct URL. I'm running from docker with a mount folder

[2018-08-22 18:22] carlsendk commented on #21
I think my issue is i don't have ffmpeg

Reading package lists... Done
Building dependency tree
Reading state information... Done
Package ffmpeg is not available, but is referred to by another package.
This may mean that the package is missing, has been obsoleted, or
is only available from another source

E: Package 'ffmpeg' has no installation candidate

[2018-08-22 18:41] lukasroegner commented on #21
Which distribution are you using in the Docker environment? I think ffmpeg is not in the Debian package lists. https://www.ffmpeg.org has a lot of documentation for all common distributions.

[2018-08-22 18:46] carlsendk commented on #21
https://hub.docker.com/r/marcoraddatz/homebridge/

[2018-08-22 19:13] carlsendk commented on #21
At least i know whats the problem is now. but havn't found a fix thats work yet. I think i need a different docker images to solve it

[2018-08-23 14:41] carlsendk commented on #21
Now i got it to work, i just need to check if i can unlock from notification :-)

https://github.com/oznu/docker-homebridge/wiki/Homebridge-on-Synology

And in the process i found this for synology: https://github.com/oznu/homebridge-syno-spk#how-to-install

[2018-08-23 14:49] jcarldk opened #25 "Make it work with ui for homebridge"
https://github.com/oznu/homebridge-config-ui-x

Support for settings in ui :-)

[2018-08-23 15:10] AlexanderBabel commented on #25
I'm sorry I don't find any possibility from this plugin to add third party configurations

[2018-08-24 13:54] carlsendk commented on #21
Do you need to group them to make it work? I get the video feed, but not the unlock feature

[2018-08-27 20:46] lukasroegner commented on #21
Both, the lock and the camera have to be in the same room.

[2018-08-28 05:39] carlsendk commented on #21
You need to tap hold on iPhone to see it. Just close this one I got it to work. Thank for your patience :-)

[2018-08-28 06:35] #21 closed

[2018-09-07 10:13] lukasroegner opened #26 "Webhooks do not work"
Hi @AlexanderBabel,

I noticed some days ago that I don't get push notifications. When I restart homebridge, the connection to the backend is missing in the logs (however, no error message from socket io is shown).

Does the web hook backend work as expected?

Best regards
Lukas

[2018-09-07 10:20] AlexanderBabel commented on #26
Should work now. OVH restarted my server without my knowledge.

[2018-09-07 10:22] lukasroegner commented on #26
Works! Thanks for the fast reply.

[2018-09-30 20:32] shapetheLOLa commented on #17
its not working for me anymore since I‘ve changed to the clientId

`[2018-9-30 22:30:15] [nello.io] Error while signing in. Status Code: 401
[2018-9-30 22:30:15] [nello.io] Error while signing in. Could not get access token from response: {"error":"invalid_grant","error_description":"Invalid credentials given."}`

Ive just logged again into the nello app with my same credentials, and checked clien

[2018-10-01 07:13] lukasroegner commented on #17
Did you remove the username and password from the configuration? They should stay in the configuration.

[2018-10-01 07:13] shapetheLOLa commented on #17
No I did not :)

[2018-10-01 07:15] ermalguni commented on #17
Since the error is invalid_grant I would say to take a look at the Grants in the nello Admin portal. Maybe you have not selected the correct grant type.

[2018-10-01 07:34] shapetheLOLa commented on #17
code and token is selected

[2018-10-01 07:42] shapetheLOLa commented on #17
` "platform" : "NelloPlatform",
            "name" : "nello.io",
            "username": "mouser",
            "password": "mypass",
            "clientId": "myclientid",
            "lockTimeout": 5000,
            "locationUpdateInterval": 3600000,
            "exposeReachability": true,
            "motionSensor": false,
            "videoDoorbell": false,
            "motionTimeout": 5000,

[2018-10-01 11:44] weeedmaan commented on #17
Same Issue here.
I didn't do any changes on the config.json.
On Thursday everything was working fine and since Friday night the status of the Nello "Lock" in Homekit is  "unkown".
But in my case I had my own client ID from the beginning (nello was installed on August 23rd 2018) in the config.json.

[2018-10-01 14:34] ermalguni commented on #17
@lukasroegner I see from the logs that the Bearer has a value of `$TOKEN`. It seems that the plugin may not be providing the value. That is why the guys are getting `401 Unauthorized`.

[2018-10-01 14:45] lukasroegner commented on #17
@ermalguni We did not change anything in the plugin, are you sure that the plugin sends an incorrect header? We do not use variables with "$" signs!

[2018-10-01 15:07] ermalguni commented on #17
@lukasroegner that is strage then. We have python in the backend there. Could @shapetheLOLa and @weeedmaan log into the admin portal and make sure that they have enabled `password` in the Grants and Response sections. We added that specifically now.

[2018-10-01 15:27] shapetheLOLa commented on #17
I will check in an hour when I’m back home

[2018-10-01 16:40] shapetheLOLa commented on #17
Ive enabled password in the grants and response sections. It did not help, still getting a 401

[2018-10-01 16:47] ermalguni commented on #17
@shapetheLOLa I would like to check your case separately because now I do not see anything bad in the logs. Would you mind to please write to hello@nello.io and provide your client_id and we will take it from there. Maybe one of our latest commits broke something in how the homebirdge plugin handles things. When I know more I will update @lukasroegner too.

[2018-10-01 16:53] shapetheLOLa commented on #17
Alright, just sent!
Thanks guys!

[2018-10-01 18:19] weeedmaan commented on #17
@ermalguni
In the admin portal are following values marked:
Allowed response type:
Code
Token
Password

Allowed grant type:
passwort

still get the following information in the log after boot of homebridge:
`[10/1/2018, 8:14:05 PM] [nello.io] Configuring accessory with location ID ????????????????????????.
[10/1/2018, 8:14:05 PM] [nello.io] Cached accessories loaded.
[10/1/2018, 8:14:05 PM] [nello

[2018-10-02 06:36] ermalguni commented on #17
@lukasroegner after some debugging last evening with the help of @shapetheLOLa we found out that the homebridge extension is sending as a client_id the hardcoded one in index.js. On our side, we will always check internally if the client_id has actually been requested by the user or not. If it is not the case then we will return a 401 Unauthenticated.

@weeedmaan, @shapetheLOLa fixed his issue by

[2018-10-02 07:13] tobiaslins opened #27 "Expose as stateless switch"
It would be great if there is an settings to expose the mechanism as a stateless switch instead of a LockMechanism.

I would love this because it would be possible to open the door via Siri (Homepod) easily.
Currently when I tell my Homepod to open the door downstairs it says I need to do it on my phone due security restrictions!

Tell me what you think! :)
And thanks a lot for the library

[2018-10-02 08:25] weeedmaan commented on #17
@ermalguni, @shapetheLOLa
Done, and looks like it works.
Status of my "Nello-Lock" in HomeKit is now closed (after a restart of my homebridge).
thx for support

[2018-10-02 11:28] DJay-X commented on #17
Unfortunately changing the clientID in the index.js `/usr/local/lib/node_modules/homebridge-nello/index.js` to my personal clientID didn't do much.
Still getting Status unknown.

![napkin 02 10 18 1 21 02 pm](https://user-images.githubusercontent.com/3874239/46345912-94b99200-c646-11e8-8a16-b3c4993d6382.png)

<img width="1026" alt="bildschirmfoto 2018-10-02 um 11 55 41" src="https://user-images.gi

[2018-10-02 11:33] lukasroegner commented on #17
@ermalguni The hardcoded client ID (as you can see in @DJay-X's post) is implemented as a fallback if the configuration does not contain the client ID (i.e. the value of `platform.config.clientId` is `null`), that shouldn't change anything.

[2018-10-02 11:58] shapetheLOLa commented on #17
@lukasroegner the nello team told me that I was still sending your default clientId even though I inserted my ID into the config.json. Thats why I removed the hardcoded one

[2018-10-02 12:00] lukasroegner commented on #17
@shapetheLOLa Does your index.js file look like the one in the repository (and the one in the screenshot of @DJay-X)?

[2018-10-02 12:06] shapetheLOLa commented on #17
yes I think so.

Heres a screenshot of mine.

![d73017ac-55b4-4758-b4c9-add9f33c5441](https://user-images.githubusercontent.com/1931302/46347571-58893000-c64c-11e8-8e99-d33dc58bc7c7.jpeg)

[2018-10-02 12:07] lukasroegner commented on #17
Sorry, I meant the source code of the application (with the line `platform.config.clientId`), could you provide a screenshot of that file?

[2018-10-02 12:10] ermalguni commented on #17
@DJay-X your issue is that you do not have set the password in the grants
types and the response type. Please go to the admin portal and set them
there.

@lukasroegner somehow the configuration was not being loaded. The only
change on our side is that now we are checking that the provided client_id
is owned by the username and password provided in the request. I see in the
logs a few unauthorized

[2018-10-02 12:11] shapetheLOLa commented on #17
here it is

![788579ee-35df-492d-b458-48bf580b85a2](https://user-images.githubusercontent.com/1931302/46347761-f977eb00-c64c-11e8-82d4-967a117c53c8.jpeg)

[2018-10-02 13:18] lukasroegner commented on #17
OK, now I can see the issue. I have to publish the current version via npm, @shapetheLOLa you can see the difference between your version and the version of @DJay-X.

[2018-10-02 13:22] lukasroegner commented on #17
The current version published via npm (v0.4.0) already has a configurable client ID. @shapetheLOLa how did you install the plugin, via npm or with the GitHub URL?

[2018-10-02 13:32] shapetheLOLa commented on #17
I’ve just reinstalled 4.0 via npm.

not working again

[2018-10-03 13:10] Unzensiert commented on #17
Same issue for me, thank you nello for wasting my time? Why do you have to make the lives of the developer and the users so hard?

[2018-10-03 13:25] shapetheLOLa commented on #17
Some people should just be banned from github

[2018-10-03 13:27] Unzensiert commented on #17
I think you are talking about yourself

[2018-10-03 13:43] ermalguni commented on #17
Hi @Unzensiert , we are sorry for the trouble caused. Unfortunately we could not allow anymore user to authenticate with @lukasroegner client_id. This goes against common sense. We did our best to notify any developer and we waited for a few weeks until we put the change in place. Unfortunately some users were not notified and for that we are proactively helping anyone in need.

[2018-10-03 13:52] lukasroegner commented on #17
In order to prevent future API calls with my client ID, I completely removed it from the source code. The new version is on the master branch and I also published it via npm. Please make sure that you update the plugin.

I may have found the issue of @shapetheLOLa, @DJay-X and others: If you are using a dedicated account for this plugin, please make sure that you are requesting the client ID at ht

[2018-10-03 13:57] lukasroegner commented on #17
@Unzensiert GitHub is a great place to solve problems with the help of developers AND providers of APIs. I'm glad that @ermalguni takes his time and helps us with all our problems and I really appreciate that nello opened up their ecosystem to third-party developers, which is not a common practice with manufacturers of Smart Home appliances.

Again, thank you @ermalguni for your support!

[2018-10-03 13:58] shapetheLOLa commented on #17
Thanks everybody, it’s fixed and working again now!

[2018-10-03 14:00] Unzensiert commented on #17
It also now resolved my problems.
But I don’t get why Nello had to make it even more hard for end users. Other companies are doing here much better. Even without official api’s.

[2018-10-03 14:14] ermalguni commented on #17
Thanks @lukasroegner for the kind words and for finding the issue.

@Unzensiert we are always looking forward to feedback on how to improve the developer experience. If you want you can write directly to hello@nello.io and the team will read it or you can write it here and I will make sure that the team gets your feedback. For the time being please enjoy your nello and have a great day.

[2018-10-03 14:26] DJay-X commented on #17
@lukasroegner @ermalguni Thanks for your great help. I changed the clientID to a new one, related to the User in the config.json. Not the user I use on the iPhone in the App. Also updated to plugin V0.4.1 and everything is working properly again after a quick restart.
Thanks again guys for your work and the time you are investing. 👍🏻

[2018-10-05 10:31] DJay-X commented on #17
Maybe these three steps also help some guys who still struggle.
This is how I did it and what works for me.

1) Create separate User in nello App
![napkin 05 10 18 12 14 35 pm](https://user-images.githubusercontent.com/3874239/46530505-40a6eb80-c89a-11e8-98fc-e50158bae660.png)

2) Create API Client https://auth.nello.io/admin/
![napkin 05 10 18 12 23 20 pm](https://user-images.githubusercontent.co

[2018-10-15 17:24] CapoD opened #28 "Could not get access token from response"
Hi,

currently I have the following problem:
[code]
This problem is showing up after upgrading to the last version of this plugin. I didn't change my password in Nello nor in the homebridge `config.json`. Furthermore, I get the some problem by testing with  a different account. For both accounts, I used a proper `"clientId"` provided by Nello. I double checked my login information to make sure tha

[2018-10-23 07:02] lukasroegner commented on #28
Hi @CapoD, sorry for the delay! Please make sure that you have
- created a client ID with the same account that you configured in the config.json
- added all "response type"s for your client ID in the Nello administration UI (see README)

The response (401) indicates that communication with the Nello servers works, however, either the client ID oder the user credentials are incorrect (or not prope

[2018-10-29 12:30] felixmueller opened #29 "New post about homebridge-nello in nello blog"
Hi Lukas,

did you see the newest post in the nello blog?
https://www.nello.io/blog/how-to-connect-your-nello-one-to-homebridge/

Maybe you can add the link to your readme.

Cheers,
Felix

<img width="821" alt="nello-homebridge" src="https://user-images.githubusercontent.com/115331/47649827-bc851280-db7e-11e8-8cac-54a0830ffc33.png">

[2018-10-29 12:38] lukasroegner commented on #29
Hi Felix, thank you so much for notifying me, I added the link to the readme.

[2018-10-29 12:38] #29 closed

[2018-10-29 12:39] #17 closed

[2018-10-29 16:44] CapoD commented on #28
Hi @lukasroegner,

thanks for your reply. Since the plugin was working well and then suddenly stopped, I was quite sure that my Nello API settings were right. However, this assumption was wrong. I went back to the Nello ui and checked all "response type"s and now it works again.
Thank you very much!

[2018-10-29 16:44] #28 closed

[2018-11-08 22:06] marcometz commented on #27
I would love this feature, too.
Thanks for your great work so far. It works perfekt.

Thanks a lot!

[2018-11-18 00:34] mactwin opened #30 "Error while signing in. Status Code: 500"
Hi after several tests, following all the instructions, I still can not activate the plug in.
I have a custom user in App, done auth in https://auth.nello.io/admin/, tested with https://auth.nello.io/client/
and the variable are correct ....I have no idea about the problem, every start this is the error:

[nello.io] Cached accessories loaded.
[nello.io] Getting locations from nello.io.
[nello.io]

[2018-11-20 08:35] lukasroegner commented on #30
It seems that the Nello API is returning an Internal Server Error (Status Code 500). @ermalguni could help with this issue. The API should not return a 500 status code.

[2018-11-20 09:56] mactwin commented on #30
How can I contact him?
Does he look at these traces or do I have to turn the request?

[2018-11-20 10:48] ermalguni commented on #30
@mactwin @lukasroegner sorry for the late reply. I thought that I was watching this repo but that was not the case. Will look into it today. Seems from the error that there is something wrong with the authorization. @mactwin do you have a specific user for the API? Furthermore, can you paste, if possible, the full error that you get.

[2018-11-20 10:56] ermalguni commented on #30
And also can you confirm that the username/password is correct. I will push a fix later today so that this 500 does not appear anymore.

[2018-11-20 11:16] mactwin commented on #30
In the "username" variable I have the email used in https://auth.nello.io/admin/ and same story for "password" variable; in "clientId" I have paste the "Client ID" that I have in the site auth.nello.io/admin/

--- log rif deleted

[2018-11-20 12:42] ermalguni commented on #30
@mactwin awesome thanks for that. I can see you in the logs but I do not want to make our conversation public so pls send an email to hello@nello.io and mention "Ermal Guni Public API" and it will be assigned directly to me. We will take it from there.

[2018-11-20 18:34] mactwin commented on #30
mail sent this afternoon

[2018-11-26 01:37] izecell opened #31 "Error: Cannot add a bridged Accessory with the same UUID as another bridged Accessory"
Running into  the UUID already existing problem, therefore not able to start plugin. Already tried to uninstall/install hombridge and plugin. Also tried to delete accessories and persist folder. First time I am using the plugin, so cannot report on any changes since an update.
[code]

[2018-11-26 06:44] #30 closed

[2018-12-05 16:19] padman74 opened #32 "Nello activity logs shows wrong entry "someone rang but nello didn't open""
Hi.
I'm new with nello and thanks for providing this plug-in.
When my door opens with homebridge that gave the allowance I find two messages in the nello log. First says that someone rang but nello didn't open followed by saying that I opened the door.
How can I suppress the first message?

Best regards
Volker

[2018-12-05 18:55] lukasroegner commented on #32
Hi Volker,

Can you clarify the exact situation in which the problem occurs? You stand outside, open the Home app and unlock the lock? Or do you ring the bell to automatically open the door by the geo-distance feature of Nello?

If I use the lock in the Home app to simply trigger the buzzer of the door, there is just one entry in the history.

Best regards
Lukas

[2018-12-05 19:19] padman74 commented on #32
Hey Lukas,
I use the switch to allow people to come in by ringing the bell. I ring the bell and can open the door. But then see those 2 entries.
Regards, Volker

[2018-12-06 08:55] lukasroegner commented on #32
I assume you use the motion sensor provided by the plugin and an automation in the Home app that unlocks the door when someone physically rings the bell?

As you are not using the built-in geo-distance feature of Nello (which provides similar functionality for users with an account and the Nello app installed on their devices), Nello does not know that the bell rings and this request is handled pr

[2018-12-06 15:39] padman74 commented on #32
I use the parameter exposeReachability to open the door when ringing.

[2018-12-06 15:40] lukasroegner commented on #32
This parameter determines whether the lock should be shown as "not reachable" in the Home app if the web service of Nello is not working properly or your local network has no access to the internet.

[2018-12-06 15:51] padman74 commented on #32
I'm sorry, i mean the alwaysOpenSwitch.

[2018-12-06 15:55] lukasroegner commented on #32
Yeah, in conjunction with an automation in the Home app. Therefore, the automation is not done via Nello, which means Nello cannot decide whether it is a valid doorbell ring or one that is handled by an automation.

[2018-12-14 08:54] JotWee opened #33 "motion sensor not working"
The motion sensor is not working anymore.
Does somebody else have this issue?
I’m pretty sure it worked a few weeks/months ago. Now, as I am testing again, it doesn’t work.
Everything else with Nello works fine.

[2019-01-19 23:21] DJay-X opened #34 "rtsp stream resolution to high performance problem Pi3B+"
I found a nice rtsp stream that works with my configuration. Unfortunately the stream doesn't come well in HomeKit. I assume the quality/size is to high and uses to much performance on the RPi 3 B+.
Is there a way to change this in the config that a lower stream/resolution is used instead? As I understand maxWidth, maxHeight is only for the snapshotImage. Which works perfect of course.

The stream

[2019-01-20 16:45] DJay-X opened #35 "Nello open by time window, not recognised in Homebridge/HomeKit anymore"
@lukasroegner @ermalguni
Hi Guys. Hope you are doing well.
I noticed that when Nello opens the door because of a scheduled time window, the action is not recognised in HomeKit/Homebridge anymore.
What is strange, everything is working when opening the door inside of HomeKit (Eve or Home App), the door opens other iOS devices show a notification that the door was opened and also Nello App is showin

[2019-01-22 12:22] ermalguni commented on #35
@lukasroegner can you take a look into this from your side? It seems that it might be an issue with Homebridge. If that is not the case I will take it and check the logs.

[2019-01-23 10:11] lukasroegner commented on #35
Hi @DJay-X @ermalguni
I haven't set up a time windows before, I'll do that and check for the response of the Nello API.
I currently also have issues with my Nello (it always thinks I entered the building, however, it is just someone ringing the bell), also happens if I'm miles away. Please give me some time to test it all out.

@ermalguni if I need your help with your internal logs, I would contac

[2019-01-23 14:45] DJay-X commented on #35
Thanks to you both. Thanks @lukasroegner I got the Feedback, that other Users facing the same issue that HomeKit ist not notified when Nello opens the door automatically because of a active time window. https://forum.smartapfel.de/forum/thread/969-nello-one-integration/?postID=49157#post49157

Something must have changed, because when I first set up everything my automation worked great, when Nell

[2019-01-25 14:26] redeemer666 opened #36 "Informations about multiple devices"
Hello,

I have two Nello devices for two houses. There is a way to exclude one of the two if I want to use my main nello account, that has both of them?

[2019-01-25 16:05] DJay-X commented on #35
Without changing anything, in the case of a delivery with an active time window, the opening message was forwarded correctly to HomeKit today and the automation set up was triggered.
Strange... 🤔 I'll keep an eye on it for the next delivery and report.

![napkin 2 25 01 19 5 03 28 pm](https://user-images.githubusercontent.com/3874239/51757314-56e3ec00-20c3-11e9-9b31-c97bae0861f3.png)

[2019-01-26 09:48] lukasroegner commented on #35
@DJay-X Thank you for sharing this with us. It's quite strange, as I didn't update anything.

[2019-01-26 09:51] lukasroegner commented on #31
@izecell Is this issue still occurring?

[2019-01-26 09:51] #32 closed

[2019-01-26 09:53] lukasroegner commented on #36
Hi @redeemer666, we suggest to use a dedicated account for the homebridge plugin. Thus, you can create this dedicated account just for one of your two houses.

[2019-01-26 10:01] lukasroegner commented on #34
I think we could change the source code of the FFmpeg plugin for the camera stream, however, it should be possible that you resize the incoming video stream in the stream option, just try

`"-re -i rtsp://62.113.221.8:554/danubeHotels-rtplive/camera1.stream -vf scale=320:240"`

Haven't checked it out yet. If it works, it's fine, otherwise, I'll try to find some time to implement another solution.

[2019-01-26 10:02] lukasroegner commented on #33
Hi @JotWee, is this issue still present?

[2019-01-26 11:58] DJay-X commented on #34
Thanks for keeping in touch. Unfortunately with -vf scale=320:240 doesn't make a difference.
Maybe the Pi 3 B+ is to weak. Wouldn't expect it from the latest model but could be. So please don't invest any time if there is other things to do.

![img_2293](https://user-images.githubusercontent.com/3874239/51786807-fcea3180-2169-11e9-9d1f-0ec3712b6a4e.png)

[2019-01-27 11:25] JotWee commented on #33
@lukasroegner yes. I assume, you are not able to reproduce this behavior? In that case, it might be an issue with my HomeKit setup.

[2019-01-30 12:27] lukasroegner commented on #33
Maybe @AlexanderBabel could help as he implemented the motion sensor. I'll also try to look into the issue.

[2019-01-30 17:44] DJay-X commented on #35
I will close this "issue" for now, because I can't reproduce the strange behaviour. Since a couple of days and with an active time window in nello, HomeKit triggers everything right.
Will get back, if something wrong happens again.
Thanks guys.

[2019-02-05 17:25] ermalguni opened #37 "Homebridge registering a wehook"
@lukasroegner @AlexanderBabel we have had a few customers having issues with their webhooks not being called. After checking the logs I saw that their webhooks get updated to something like this: https://nello.alexdev.de/callback/..... Furthermore in the connectWebhook.js in line 7 there is a socket connection to https://nello-socket.alexdev.de. It seems like the homebridge plugin is registering a

[2019-02-06 16:46] lukasroegner commented on #37
@ermalguni thank you for letting us know. Is the issue resolved on your side? The plugin uses a relay service hosted by @AlexanderBabel, the code is also open sourced at https://github.com/AlexanderBabel/nello-backend. This is stated in the security section of the README.

The initial implementation used another webhook-to-websocket provider, however, it was not as reliable as @AlexanderBabel's so

[2019-02-11 14:20] romanvrable commented on #31
@lukasroegner Yes, it is still occurring, nothing changed so far

[2019-02-13 10:18] ermalguni commented on #37
@lukasroegner thanks for the the explanation. Now it is more clear.

Just one more question: how frequently does the plugin set the webhook? Is it only one or does it perform some kind of check at regular intervals? We had a user that was setting the webhook but somehow it got reset to one of the https://nello.alexdev.de/... ones.

We have created a low prio feature request to have webhooks per lo

[2019-02-15 17:55] lukasroegner commented on #37
There is no interval, at which the webhook is updated. Reasons for updating might be a lost connection to the relay server or a restart of homebridge.

Please tell us as soon as you have implemented the new feature, we would like to implement it as soon as possible.

[2019-02-15 17:55] #37 closed

[2019-02-15 17:59] lukasroegner commented on #31
Have you already tried to clear the homebridge cache? It seems that another device with the same ID is already listed in the cache file.

Keep in mind that your device settings are lost when removing the cache, maybe you can use another homebridge instance to test whether it is an issue with your network components, our plugin, or simply the cache of your homebridge instance.

[2019-03-13 14:38] TonistarNo1 opened #38 "Homebridge Crash after reboot without remote access"
Hallo Zusammen,
ich habe das Problem, dass wenn ich meine Homebridge neu starte und mir der Internetzugriff fehlt, Nello keine Daten aus dem Internet holen kann und damit den ganzen Startvorgang der Homebridge beendet, bzw. neu startet. Dieser Vorgang wird so oft wiederholt bis Nello wieder Internetzugriff hat und erst dann kann ich die Homebridge wieder im HomeKit nutzen. Gibt es eine Möglichkeit

[2019-03-14 10:18] lukasroegner commented on #38
Hi Toni, you're right, we should add a timeout for connecting to the nello API and the WebSocket relay service... @AlexanderBabel, could you take a look at it?

[2019-03-14 10:19] AlexanderBabel commented on #38
Yeah I can do that.

[2019-03-14 10:30] TonistarNo1 commented on #38
Thank you for the fast answer. I'm looking forward to the update! Otherwise, your plugin works really great and is a much more comfortable access to control the nello. Thanks for that!

[2019-03-15 20:46] AlexanderBabel commented on #38
I released an updated version. The issue should be fixed now.

If not please reply to this thread in the next days. Otherwise, I'll close this issue after some days passed.

[2019-03-16 10:26] TonistarNo1 commented on #38
Terrific! Thanks for the quick update. Unfortunately, I am back home on Monday and can only then carry out the update and test it. But then I'll let you know as soon as possible.

[2019-03-18 07:54] TonistarNo1 commented on #38
OK. The way it looks, everything works without Internet. Thank you so much for your quick help!

[2019-03-18 07:54] #38 closed

[2019-04-03 18:23] henkhb opened #39 "Stopped working"
Is there an Server issue, or change in API?
My installation stopped working.

[4/3/2019, 8:21:39 PM] [nello.io] Connected to webhook backend.
[4/3/2019, 8:21:39 PM] [nello.io] Updating webhook for door with ID xxx  to https://nello.alexdev.de/callback/lilu-cowew-imjizul-nimgati-oc-7435.
[4/3/2019, 8:21:39 PM] [nello.io] Updating webhook failed. Status Code: 500
[4/3/2019, 8:21:39 PM] [nello.io] Re

[2019-04-03 20:30] Strike2001 commented on #39
same here

[2019-04-03 22:25] AlexanderBabel commented on #39
It's an error from the Nello API. Normally, a restart of your homebridge instance should be enough to get a successful web hook update.

[2019-04-04 06:49] henkhb commented on #39
Restart does not help. Seems to be a server issue. Today it works again.
I informed nello team about this.

[2019-04-04 07:13] lukasroegner commented on #39
Seemed to be a temporary server issue at Nello, @ermalguni?

[2019-04-04 07:54] ermalguni commented on #39
Hey guys, it is our rate limiter. It seems that a few clients are hitting the Public API quite a lot and the rate limiter is stopping the requests. Can you check how frequently you are requesting?

As an example: today from 02:00AM-02:59AM we had 1500 rate limited events.

[2019-04-04 10:21] Strike2001 commented on #39
it is not the public api of nello ( i use the api with a smart hub too and this runs )  , maybe the backend from alex has an error

Von meinem iPhone gesendet

[2019-04-04 10:22] Strike2001 commented on #39
normal ( update intervall = 3600000

Von meinem iPhone gesendet

[2019-04-04 14:35] henkhb commented on #39
Same here. But had some restarts due to updates.

[2019-04-08 15:38] krmkrx commented on #33
Just wanted to stop by and add that I have the same problem. Occasionally on some rings, the motion sensor does not trigger. Everything else workings as expected.

[2019-04-16 09:48] nihalgonsalves opened #43 "Potential security issue with the alwaysOpenSwitch"
While working on #42 I realised that the Nello Webhook isn't really authenticated or verified, and nor do they provide any way of doing so.

As webhoook actions are normally just notifications, the most an attacker could do is send fake notifications to Homebridge and update the state wrongly.

However, with the `alwaysOpenSwitch` enabled, an attacker could theoretically open the door by sending a

[2019-04-28 13:54] lukasroegner commented on #39
Seemed to be an issue with the webhook relay service, feel free to re-open if issue still exists.

[2019-04-28 13:54] #39 closed

[2019-04-28 13:55] #31 closed

[2019-04-28 13:56] lukasroegner commented on #33
@krmkrx Do you also use the camera + lock configuration, so that you get HomeKit unlock notifications? It would be of interest if you the sensor is not working or if you also do not get an unlock notification.

[2019-04-28 13:59] lukasroegner commented on #34
@DJay-X I'm generating my own video stream from a relatively large image file. There is no motion, which means, encoding should not take too much CPU time. On my Pi3, this process is around 10% CPU, which is really low. Maybe the Pi3 is too weak to decode the video stream you are using and encode it again for HomeKit. Let us know, if you find a solution!

[2019-04-28 13:59] #34 closed

[2019-04-28 13:59] #36 closed

[2019-04-29 14:31] thecem opened #44 "No VideoDoorBell configurtion needed for Push notification with unlock button"
Hi Guys, it is not needed to configure a camera via the homebridge-nello plugin to get a push notification with unlock button. The lock and the camera must be in the same room to see the unlock button, but the camera could be another one like a Netatmo or Nest (via homebridge-nest-cam plugin). In my case I have 3 cams an i get randomly the cam pictures in the push notification and the unlock butto

[2019-04-29 14:37] lukasroegner commented on #44
You're right, you just have to have a camera and the lock in the same room. I don't have a real camera in my apartment, thus I'm using the option of this plugin to expose a fake camera (it just shows the Nello icon as stream from an image file).

Without this fake camera, I wouldn't get unlock notifications. Didn't know, that it shows random camera streams if you have multiple cameras, thank for t

[2019-04-29 21:10] MGPhil opened #45 "Removing Username/Password from config file brakes the plugin"
Hi, sorry if I may ask a question that is answered already but I could not found it after some search in the issues.
I tried to use the plugin with clientId and clientSecret only like in the readme (Default configuration (with a motion sensor for ring notifications)).
In the startup logs of homebridge the plugin always requests the username and password and was not working at all (nothing added to

[2019-05-01 13:27] lukasroegner commented on #45
Maybe you have to change the settings in the Nello admin interface, so that the clientId/clientSecret flow is enabled. @nihalgonsalves created the PR, maybe he can help?

[2019-05-01 13:29] nihalgonsalves commented on #45
@MGPhil You need to set `"authType": "client"`.

From the README:

[2019-05-01 14:01] MGPhil commented on #45
Hi @lukasroegner, Hi @nihalgonsalves, thats clear and is done in my config:
——————
{
      "homekitUser" : "XXX",
      "clientId" : "XXX",
      "alwaysOpenSwitch" : true,
      "exposeReachability" : true,
      "lockTimeout" : 5000,
      "authType" : "client",
      "motionSensor" : true,
      "clientSecret" : "XXX",
      "motionTimeout" : 5000,
      "password" : "XXX",
      "platform" : "

[2019-05-01 14:04] nihalgonsalves commented on #45
@MGPhil Looks like you're using an older version of `homebridge-nello`. Check your dependencies and/or run `npm install homebridge-nello` again (with `-g` or `--save` as appropriate).

[2019-05-01 14:04] lukasroegner commented on #45
@MGPhil did you install the plugin via npm? The version on npm is not the latest version (to which the clientId/clientSecret flow belongs). I'll update the npm version as soon as I've tested another PR from @nihalgonsalves.

[2019-05-01 14:04] nihalgonsalves commented on #45
Ah yes, if it isn't published yet, that would be it :)

[2019-05-01 14:10] MGPhil commented on #45
Yes I install everything for my homebridge from npm (2 days ago),
is that not the „normal“ way of doing it?

Means when you update npm and I update my homebridge plugin I can remove username/password?
If so were/how can I see that npm and github are not in sync?

[2019-05-01 14:12] nihalgonsalves commented on #45
Yes, using npm is definitely the norm. @lukasroegner I've seen other packages put a warning at the top of the README and a link to the version of the README corresponding to the package that is published on npm.

[2019-05-01 14:14] lukasroegner commented on #45
@MGPhil you have to explicitly update your npm packages as a developer. The README on npm is the old one (you may have followed the link to GitHub and read it there). @nihalgonsalves, we don't update the plugin this often, usually, we directly publish a new version on npm.

[2019-05-01 16:15] MGPhil commented on #45
Yes exactly @lukasroegner normally I google for nice new homebridge plugins come then to npm website and klick on the link to github were I read the manual an install everything over npm.
Don‘t know why npm and not github is shown in google search.

When can I expect the new version to be on npm?
Or is there an „easy“ way to update the npm download from me with the github version here?

[2019-05-02 15:45] lukasroegner commented on #45
@MGPhil new version is on npm.

[2019-05-02 15:46] lukasroegner commented on #45
@MGPhil btw, you can also install npm packages directly from GitHub, see https://docs.npmjs.com/cli/install

[2019-05-02 15:47] #44 closed

[2019-05-19 10:22] DJay-X opened #46 "[Enhancement] Repository 404"
npm https://www.npmjs.com/package/homebridge-nello is still linked to GitHub Repository to https://github.com/lukas.roegner/homebridge-nello which gives 404.
Correct is https://github.com/lukasroegner/homebridge-nello
😉
Noticing this "issue" when using config-ui-x and on npm website.

Thanks for your ongoing work and updates with this plugin.
Wouldn't want to miss it. Makes my nello one complete.

[2019-05-19 10:29] lukasroegner commented on #46
Thanks for reporting, fixed!

[2019-05-19 10:29] #46 closed

[2019-05-20 08:47] ermalguni commented on #43
Hi @nihalgonsalves, we have kept authentication part as TBD because we could not fully anticipate how the webhooks would be used. To account for that, the webhooks are supposed to provide only info data and nothing more. And as you also point out all a possible attacker can do is to provide false events, provided that he already go hold of your webhook URL.

Any changes to the webhooks would need

[2019-05-20 13:10] nihalgonsalves commented on #43
@ermalguni Thanks for the response!

Yes, including a new header and recommending that new integrations verify it would ensure backwards compatibility. Slack does a similar thing for their webhooks.

@lukasroegner I believe that it would make sense to deprecate the `alwaysOpenSwitch` switch or warn users about the security implications.

Especially because 99% of the users of this library use the

[2019-05-20 15:44] lukasroegner commented on #43
@ermalguni Absolutely makes sense, that would not break existing integrations.

@nihalgonsalves Regarding the alwaysOpenSwitch, we should discuss with @AlexanderBabel. He implemented the switch and I don't want to remove it without talking to him. Maybe we should explicitly warn users.

[2019-05-20 20:03] AlexanderBabel commented on #43
I agree on a warning mechanism. I also think we should rename the variable in the json file to something like dangerouslyEnableAlwaysOpenSwitch.

@ermalguni how long will it take to implement the signature method? As soon as you're finished I would integrate a signature check in the relay service. Please keep me updated about this!

[2019-05-27 12:01] ermalguni commented on #43
@AlexanderBabel we are trying to squeeze it it either the next week or the week after that. Should not take more than a couple of days. Do you need anything specific from our side to ease your dev time?

[2019-06-09 08:30] phlexx commented on #33
I also can confirm that the motion sensor is not working reliable while lock and unlock notifications seem persistant but sometimes delayed. like 3hrs later delayed.

[2019-06-17 11:30] lukasroegner commented on #33
@phlexx Can you please try to increase the `motionTimeout` in the configuration (e.g. 30000)? There might be an issue with the rather short timeout period, in which the sensor reports motion, maybe it is too short for automations to recognize it.

[2019-09-09 12:22] DJay-X commented on #35
Hi Guys. First, I hope you are doing well.

Unfortunately I am facing the same issue again "Nello open by time window, not recognised in Homebridge/HomeKit anymore" since a couple of days. Documented today, 09.09.2019

Time window is active in nello App. The door opens by nello and all activities are showing up in the activity feed in nello app. But HomeKit Homebridge Plugin is not noticing the op

[2019-09-10 11:46] DJay-X commented on #35
Again today, 10.09.2019 - 13:19
Nello opened the door because of active time window, but no communication to the Plugin/HomeKit. Hope this helps to investigate. Thx.
![Napkin 2 10 09 19, 1 44 24 PM](https://user-images.githubusercontent.com/3874239/64611266-59385380-d3d1-11e9-8349-dc8101a84ed2.png)

[2019-09-10 15:51] lukasroegner commented on #33
No feedback, closed.

[2019-09-10 15:51] #33 closed

[2019-09-10 15:53] lukasroegner commented on #35
@DJay-X Can you provide snippets from your log file, so that we can check if the plugin has issues or the Nello server?

[2019-09-10 15:53] lukasroegner commented on #43
@ermalguni Any news on this topic?

[2019-09-11 12:23] DJay-X commented on #35
Thanks for your reply. Unfortunately at the moment I'm not able to provide a log from my Pi/Homebridge.

But as mentioned, nothing changed on my side in the last days. No news HW setup. No update on the Pi. No new npm or node. Didn't touched the config.
Besides as mentioned, "out" from HomeKit to nello is recognised. But not the other way around from nello to homebridge plugin.

Strange is that we

[2019-09-12 07:14] ermalguni commented on #35
@DJay-X @lukasroegner I will take a look into our logs today or tmrw latest and maybe I see something. Will keep @DJay-X posted in the issue he created with us and you @lukasroegner here.

[2019-09-12 07:15] ermalguni commented on #43
@lukasroegner we have implemented it and it is released already. The remaining thing is to update the docs.

[2019-09-12 16:11] DJay-X commented on #35
Another Example
Do. 12/09/2019, 17:27
Active Time Window DHL Do. 12/09 05:05 PM - 05:30 PM

Fr. 13/09/2019, 12:11 and 12:13
Active Time Window DHL Do. 13/09 09:00 AM - 05:00 PM

Fr. 13/09/2019, 13:07
Active Time Window DHL Do. 13/09 09:00 AM - 05:00 PM

Fr. 13/09/2019, 15:33
Active Time Window DHL Do. 13/09 09:00 AM - 05:00 PM

Nello opened the door. No Info forwarded to Plugin/HomeKit. No Automat

[2019-09-18 15:33] DJay-X commented on #35
As trough by chance or probably after some changes by @ermalguni it seems to work again now as expected.

16.09.2019 11:05 and 12:11
18.09.2019 12:33 and 16:01

The door was opened by nello because of active time window and also now HomeKit/homebridge-nello worked.
HomeKit was noticing the opening of the door by nello, send a Notification and also my automations started by that trigger.

Thanks to

[2019-10-02 20:12] DJay-X opened #48 "nello working with HomeKit after 18.10.2019 Bankruptcy of LOCUMI LABS GmbH"
@ermalguni @lukasroegner
First of all, so sorry to hear about the bankruptcy of LOCUMI LABS GmbH. 😔
All the best to the girls and guys there. Wish them all the best for their new way.

Anyway, you think there is a chance to keep nello working locally and with homebridge-nello?
Last words from nello Team was.. "So that you can still use your nello one, we are currently working on a solution, which

[2019-10-02 20:37] oleg-dmytrenko commented on #48
I hope it will be possible to keep Nello One alive via Homebridge. I am sure there are a lot of users out there who also feel that way.

[2019-10-03 07:23] lukasroegner commented on #48
@DJay-X
If the nello Team provides a documented solution to communicate with the nello One locally, we can implement it.

Personally, I don't think that we will get a pure local solution, as this would require some kind of firmware update for the nello, which is not possible.

Maybe (parts) the backend will be open-sourced so that you can run a local web server and change DNS settings in your rout

[2019-10-03 18:25] DJay-X commented on #48
Thanks for your reply and the detail on information.

I think I probably shout change to Nuki Opener instead. 🤔 You already provide a Plugin for that. Aren't you?

[2019-10-03 18:36] lukasroegner commented on #48
Yes, I pre-ordered the Nuki Opener just to check it out. Users report that it works fine, I haven‘t tested it out for more than two days as my intercom is not working correctly at the moment and I have to wait for the landlord to get it fixed.

[2019-10-03 18:42] DJay-X commented on #48
Hmm.. However, thanks a lot if you consider to still update this nello plugin, if something is possible after 18.10. from the side of nello. Will see what they announce finally before shutting down completely.

I join you in the Thread on forum.smartapfel.de for ongoing conversation on Nuki.

[2019-10-07 09:57] nihalgonsalves commented on #48
FYI: Looks like the API is already down (the admin/token UI is unavailable and the accessory shows as "Unknown" in Homebridge).

Looks like Webhooks are still being processed though. I get unlock events via HomeKit.

If someone wants to continue with reverse-engineering the Nello MQTT API, here's a reference: https://hypfer.de/blog/2018/12/04/wie-man-ein-nello-one-nicht-von-der-cloud-befreit/

For

[2019-10-16 10:34] DJay-X commented on #48
Update from today 16th Oct. Probably to everyone but never know.

![Bildschirmfoto 2019-10-16 um 12 29 07](https://user-images.githubusercontent.com/3874239/66911671-4ab50b80-f011-11e9-988b-a5f69e8e7adb.png)

[2019-10-16 13:24] Karrypto commented on #48
Hi guys, @lukasroegner  is it possible to use private API instead ? I still can use nello in openhab with pynello and private API (https://github.com/pschmitt/pynello). Looks like public api is down but private works fine so far

[2019-10-16 13:29] lukasroegner commented on #48
@Karrypto To be honest, I don't want to waste time implementing the private API (which I used in the early days of this plugin) if we don't know you whether Nello is shutting down the servers in two or three weeks. The message posted by @DJay-X only mentions that they will keep the servers running for some time...they don't tell for how long.

[2019-10-17 19:01] rheid opened #49 "Nello lost connection after a while"
Hello Lukas, unfortunately my Nello Connection doesn't work properly anymore.
Do you have any idea? In the first few minutes, the connection still goes

2019-10-17 20:00:09] [nello.io] Signing in.
[2019-10-17 20:00:09] [nello.io] Getting locations from nello.io.
[2019-10-17 20:00:09] [nello.io] Cached accessories loaded.

2019-10-17 20:00:09] [nello.io] Signing in.
[2019-10-17 20:00:09] [nello.io]

[2019-10-18 10:49] lukasroegner commented on #49
See #48

[2019-10-18 10:49] #49 closed

[2019-10-29 09:07] nihalgonsalves commented on #43
Not really relevant anymore (see #48)

[2019-10-29 09:07] #43 closed

[2019-10-29 09:19] lukasroegner commented on #24
Not relevant anymore.

[2019-10-29 09:19] #24 closed

[2019-10-30 21:07] DJay-X commented on #48
You all probably received it, so just for the record.
@lukasroegner Any chance you could get in touch with nello if also the previous solution with your plugin will work again?
Thanks for your time.

Translated with www.DeepL.com/Translator

[2019-11-20 09:29] lukasroegner commented on #48
@DJay-X Sorry for the late reply. I'm not using the nello anymore, however, I want to implement a fix if nello provides a solution. Any news from nello?

[2019-11-20 14:50] sleepyarmistice commented on #48
Sorry to butt in, but there hasn’t been any new news. Lately, though, I’ve been using the old version of the plugin from before the API became available. It works most of the time, but occasionally gets shut out by Nello for like eight hours for making too may requests. I think that if there was a way to reduce the frequency of requests made, then this could be a good solution.

[2020-04-06 16:43] lukasroegner commented on #27
I'm closing this now as nello is discontinued.

[2020-04-06 16:43] #27 closed

[2020-04-06 16:45] lukasroegner commented on #48
I'm closing this now as nello is discontinued. If anyone has further information regarding the new owner and a possible future of this project, feel free to reopen.

[2020-04-06 16:45] #48 closed

[2020-04-10 13:23] adnanshah87 opened #50 "Retrieving Client ID"
Hi Lukas,

Is it possible to retrieve Client ID and key without the website mentioned below? It seems to be off for several weeks. Any alternative routes?

Thank you in advance

Referring to:

IMPORTANT: Please visit https://auth.nello.io/admin/ and sign in with your username and password that you also use in the nello.io app.

[2020-04-10 13:27] lukasroegner commented on #50
Hi @adnanshah87,

Honestly, I don't know. Nello has been discontinued, it still works for some people that created the data earlier. I've switched to the Nuki Opener some time ago, thus there is no active development in this repository.

I also recommend to not use Nello anymore as there seemed to be issues with devices that always opened the door when someone rang the bell.

[2020-04-10 13:27] #50 closed

[2020-07-19 05:58] vovayakgh opened #51 "A lot of calls to nello-socket.alexdev.de"
It seems that plugin is doing a lot of calls to nello-socket.alexdev.de. I got around 53000 calls a day. There should be some connection timeout implemented. It should be enough to call once a sec or every 2-3 sec.

[2020-07-19 19:01] lukasroegner commented on #51
Hi @vovayakgh, the plugin is no longer active developed or maintained. Does your nello device still work?

[2020-07-19 19:26] oleg-dmytrenko commented on #51
After a few days of downtime, my Nello works again.

[2020-07-19 21:14] vovayakgh commented on #51
Yes, all is working fine except notifications to iPhone. And then as i have written, homebridge plug-in generates quite a number of DNS requests, subsequently I can assume also calls to the services.

[2020-07-21 09:29] lukasroegner commented on #51
@vovayakgh The service at nello-socket.alexdev.de is a webhook relay, which means that webhooks from the nello server are tunneled via a web socket to your local Homebridge instance.

I think that the requests that you mentioned are simply traffic of this tunnel, not real HTTP requests.

[2020-07-21 12:33] vovayakgh commented on #51
Well, I don't know where the problem is, but other plugins are not generating so much DNS calls. So there should be some refresh problem, or missing refresh interval from the client side.

[2020-07-21 12:39] lukasroegner commented on #51
@vovayakgh The logs should tell you whether it is a connection issue, have you already analyzed them? From what can be seen in the source code, a log entry is created each time the socket connection has an error.

[2020-07-21 12:54] AlexanderBabel commented on #51
Hey,

the issue should be fixed now. My server had a problem with hosting the service. After a short investigation I found the issue and everything should work normal now.

Unfortunately I no longer have a nello one installed and therefore did not notice if the service works as expected.

If you don’t want to rely on this service, you could use the old version of the plugin which takes advantage o

[2020-07-21 17:31] vovayakgh commented on #51
Hi, thanks for your quick follow up. I can confirm that my DNS is back to normal.

[2020-07-21 17:35] #51 closed

[2020-08-03 08:52] nihalgonsalves commented on #43
Resolved partially by: https://github.com/lukasroegner/homebridge-nello/pull/54 (i.e. https://github.com/lukasroegner/homebridge-nello/pull/54/commits/f054b02d751b3483ff42a0ad1ed36a3989a9906c)

- Renamed to `dangerouslyEnableAlwaysOpenSwitch`
- Local webhook server uses a unique path too
- Both the local webhook path and the socket backend is reconnected periodically (when locations are updated, d

[2020-08-03 08:53] nihalgonsalves commented on #43
@ermalguni I know that #48 means that this is unlikely, but since it was already released a long time ago, could you possibly tell us about how to enable authentication?

[2020-08-03 14:09] ermalguni commented on #43
@nihalgonsalves as far as I can remember all you need to do to enable it is to provide the attribute `key` - while creating/updating the webhook -  with the string of the encryption key. Every request that has the `key` set will return with a HMAC header.

The request should look sth like this:
[code]

[2020-08-03 17:14] nihalgonsalves commented on #43
Thanks @ermalguni !

I used this payload:

[code]

and now receive a `x-nello-hook-hmac` header. I'm not really sure where to go from here since it doesn't contain timestamps/etc. I tried this but it doesn't match:

[code]

[2020-08-03 17:34] ermalguni commented on #43
@nihalgonsalves If I remember correctly the HMAC contains the sha256 of the payload encoded in utf8. In this way at least you know that the response came from the nello backend and not from some malicious user(unless they got hold of your key). So on your side, you have to stringify the JSON that you receive and generate the digest with sha256 and compare your digest with the digest in the header.

[2020-08-03 22:28] nihalgonsalves commented on #43
Thanks a lot @ermalguni, it works now! I'm curious, what are the `sp_activate` and `sp_deactivate` webhook event types?

[2020-10-17 21:10] ulumios opened #61 "Rate limit"
`[10/17/2020, 22:02:25] [NelloPlatform] API error path=https://public-api.nello.io/v1/locations/faXXXXXXX/webhook/, status_code=429, response={"result":{"code":429,"success":false,"message":"30 per 1 minute"},"data":{}}`

`[10/17/2020, 22:02:27] [NelloPlatform] Rate-limited, waiting 58.431 seconds`

[2020-10-19 08:08] nihalgonsalves commented on #61
Is this a persistent problem? The plugin normally automatically recovers within a minute.

[2020-10-19 09:12] ulumios commented on #61
It spammed the logs for 2 days then it suddently stopped and recoverd. But the retries flooded my local DNS. I woud suggest to slow down the retry rate after a certain amount of fails.

Ps: Thx for the Plugin 👍

[2020-11-11 20:43] #61 closed

[2020-12-01 20:44] vovayakgh commented on #51
This started today again around 18:00 CET, not sure if you see any changes from your side.

[2020-12-02 08:57] nihalgonsalves commented on #51
@vovayakgh I don't use the socket for my setup, but it does look offline - @AlexanderBabel would have to check though.

If you have the time and can change your router settings, I suggest setting up the direct webhook.

You will need to set up dynamic DNS and port-forwarding. Every router supports port-forwarding, and some even support dynamic DNS providers, but if not you can run a client on your

[2020-12-02 09:20] AlexanderBabel commented on #51
Yes, no problem. Should be solved by today evening.
On 2. Dec 2020, 09:57 +0100, Nihal Gonsalves <notifications@github.com>, wrote:

[2020-12-02 21:09] AlexanderBabel commented on #51
Should be online again! Sorry for the inconvenience, I guess I need to look for a more reliable hoster.

[2020-12-02 21:27] vovayakgh commented on #51
All looks good now, thanks a lot!

[2020-12-09 23:31] AlexanderBabel commented on #51
Hey, I just want to let you know, that I switched the infrastructure yesterday. I hope this will reduce the down times.

Btw the day before yesterday was the service down again. This was the final reason to move elsewhere. Now it's hosted at AWS.

[2020-12-10 08:38] vovayakgh commented on #51
Thanks a lot from everyone who is using NelloOne :)

[2021-05-08 13:51] AlexanderBabel commented on #51
For more transparency, I created a status page for my hosted services. This includes the nello backend. This service checks the uptime every minute and shows incidents in real time. It is hosted separately from the main services in a different geographical region. So it will stay up if something happens to the main services.

The page is accessible through https://status.alexbabel.com

[2021-11-04 18:02] AlexanderBabel commented on #51
FYI:

Nello is no longer online. Therefore, the relay backend will be shutdown by the end of 2021. (31-12-2021 23:59 UTC+1)

More information about this topic can be found in [this pull request in the home assistant project](https://github.com/home-assistant/core/pull/57926).